<%- include('../partials/header') -%>

<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom right, #acb6e5, #86fde8);">
    <div class="container" style="text-align: center;">
        <h1 class="display-4">Welcome to Yelpcamp</h1>
        <p class="lead">View our handpicked Campgrounds from all over the world</p>
        <p><a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a></p>
    </div>
</div>

<div class="container">

    <div class="row">
        <% for(let i=0;i<campgrounds.length;i++){ %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card shadow" style="text-align: center; margin-bottom: 30px;">
                <img src="<%= campgrounds[i].image %>" alt="" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <h4 class="card-title"><%= campgrounds[i].name %></h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campgrounds[i]._id %>">More</a>
                </div>
            </div>
        </div>
        <% }; %>
    </div>
</div>

<%- include('../partials/footer') -%>